@import url("https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=PT+Serif:wght@700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@700&family=Spectral:wght@400;600;700;800&display=swap");
/* ::-webkit-scrollbar {
  width: 5px;
  opacity: 1;
  cursor: pointer;
  padding: 2;
  visibility: visible;
}
::-webkit-scrollbar-track {
  padding-left: 1px;
  opacity: 1;
  visibility: visible;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 6px;
  opacity: 1;
  visibility: visible;
} */
body {
  margin: 0;
  background-color: #fff;
}
.main-wrapper {
  padding: 0 2rem;
}
.module__content {
  padding: 0 2rem;
}
